@import "../css/Utilities.scss";

.contact-section{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/eb787643641683.5820d26fa2f84.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .contact-main-wrap{
        background-color: rgba(0,0,0,0.2);
        height: 100%;
        width: 100%;
        padding: 50px 0px;
    }
    .contact-wrap{
        background-color: $blackColor;
        width: 50%;
        height: 100%;
        margin: 0 auto;
        padding: 20px;

        .contact-section-title{
            color: $whiteColor;
        }
        .contact-section-short-description{
            color: $whiteColor;
        }
        .contact-form{
            .form-control{
                margin: 10px 0px;
            }
            .input-field{
                background-color: $whiteColor;
                padding: 10px;
                font-size: 16px;
                font-family: 'Ubuntu', sans-serif;
                border: none;
                outline: none;
                width: 100%;

                &:focus{
                    box-shadow: inset 0px 0px 6px 0px rgb(175, 16, 135);
                }
            }
            .form-row{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;

                .form-control{
                    width: 33%;
                }
            }
            .form-control textarea{
                width: 100%;
                resize: none;
                height: 100px;
                padding: 5px 10px;
                outline: none;

                &:focus{
                    box-shadow: inset 0px 0px 6px 0px rgb(175, 16, 135);
                }
                &::placeholder{
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 16px;
                }
            }
            .submit-area{
                text-align: center;
                // .btn-submit{

                // }
            }
            
        }
    }
}