@import "./Utilities.scss";
.services-section{
    background: $whiteColor;
    padding: 50px 0px;

    .service-section-title{
        font-weight: 600;
    }
    .service-section-short-description{
        color: #666;
    }
    .services-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .service-card{
            width: 33%;
            margin: 30px 0px;
            text-align: center;

            span{
                
                padding: 20px;
                font-size: 25px;
                text-align: center;
                border-radius: 50%;
                color: $whiteColor;
                background: $backgroundRadiusColor;
            }
            h1{
                margin: 30px 0px;
                color: #333;
            }
            p{
                color: #777;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}